<h1 mat-dialog-title>Reading Type Dialog</h1>
<div mat-dialog-content>
  <div class="dialog-container">
    <mat-form-field>
      <input matInput placeholder="Name" [(ngModel)]="readingType.name" tabindex="1">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="UOM" [(ngModel)]="readingType.uom" tabindex="2">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Data Type" [(ngModel)]="readingType.datatype" tabindex="3">
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="save()" tabindex="4">Ok</button>
  <button mat-button [mat-dialog-close] tabindex="-1">Cancel</button>
</div>