.app-container {
  height: calc(100vh - 64px);
}

.app-content {
  padding: 4px 8px;
}

.app-nav-container {
  display: flex;
  flex-direction: column;
  min-width: 15vw !important;
}

.app-nav {
  padding-top: 0;
}

.app-nav-text {
  margin: 0 16px;
}

.app-details-container {
  display: flex;
  flex-direction: column;
  min-width: 15vw !important;
}
