<app-nav-header (onToggled)="onToggled($event)"></app-nav-header>
<mat-sidenav-container class="app-container">
  <mat-sidenav mode="over" opened="{{navOpened}}">
    <mat-nav-list class="app-nav">
      <a mat-list-item routerLink="/home">
        <mat-icon matListIcon>home</mat-icon><span class="app-nav-text">Home</span>
      </a>
      <a mat-list-item routerLink="/dashboard">
        <mat-icon matListIcon>dashboard</mat-icon><span class="app-nav-text">Dashboard</span>
      </a>
      <a mat-list-item routerLink="/configuration">
        <mat-icon matListIcon>build</mat-icon><span class="app-nav-text">Configuration</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="app-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<router-outlet name="popup"></router-outlet>
