.device-card {
  width: 240px;
}

.sensor-list {
  padding-top: 0;
}

.sensor-list .mat-list-item {
  height: 24px !important;
}

.device-card-actions {
  display: flex !important;
  flex-direction: row-reverse;
}
