.device-card {
  width: 240px;
  padding: 16px;
}

.device-card .mat-card-header {
  display: flex !important;
  justify-content: space-between;
}

.device-card .mat-card-header .mat-card-title {
  padding-top: 4px;
}

.sensor-list {
  padding-top: 0;
}

.sensor-list .mat-list-item {
  height: 24px !important;
}

.device-card-actions {
  display: flex !important;
  flex-direction: row-reverse;
}
