<div class="app-table-filter-header">
  <mat-form-field class="app-table-filter-input">
    <input matInput #filter placeholder="Filter" />
  </mat-form-field>
</div>
<div class="app-table-container mat-elevation-z8">
  <div class="app-table-loading-shade" *ngIf="dataSource.isLoadingResults">
    <mat-spinner *ngIf="dataSource.isLoadingResults"></mat-spinner>
  </div>
  <mat-table #deviceTypeTable [dataSource]="dataSource" class="app-table" matSort matSortActive="name" matSortDisableClear matSortDirection="asc">
    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button (click)="openEditor(row)">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true">Name</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.name }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="active">
      <mat-header-cell *matHeaderCellDef>Active</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.active }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="readings">
      <mat-header-cell *matHeaderCellDef>Readings</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <span *ngFor="let reading of row.readingTypes; last as isLast">
          {{reading.readingType}}<span *ngIf="!isLast">, </span>
        </span>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="remove">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button (click)="delete(row)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <div class="app-table-filter-no-results" [style.display]="dataSource.resultsLength === 0 ? '' : 'none'">
    No types found matching filter.
  </div>
  <mat-paginator [length]="dataSource.resultsLength" [pageSize]="30"></mat-paginator>
</div>
<button mat-fab class="add-button-fab" (click)="openEditor(null)">
  <mat-icon>add</mat-icon>
</button>
