<div class="form-container">
  <div class="device-type-container">
    <mat-form-field>
      <input matInput placeholder="Name" [(ngModel)]="data.name" tabindex="1" name="name" />
    </mat-form-field>
    <section class="device-type-active-section">
      <mat-slide-toggle class="device-type-active-margin" [(ngModel)]="data.active" tabindex="2" name="active">
        Active
      </mat-slide-toggle>
    </section>
  </div>
  <div class="device-type-button-bar">
    <button mat-raised-button color="primary">
      <mat-icon>save</mat-icon> Save
    </button>
    <button mat-raised-button color="accent">
      <mat-icon>cancel</mat-icon> Cancel
    </button>
  </div>
</div>
