
<h1 mat-dialog-title>Device Type Dialog</h1>
<div mat-dialog-content>
  <div class="dialog-container">
    <mat-form-field>
      <input matInput placeholder="Name" [(ngModel)]="deviceType.name" tabindex="1">
    </mat-form-field>
    <section class="example-section">
      <mat-slide-toggle class="example-margin" [(ngModel)]="deviceType.active" tabindex="2">
        Active
      </mat-slide-toggle>
    </section>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="save()" tabindex="3">Ok</button>
  <button mat-button [mat-dialog-close] tabindex="-1">Cancel</button>
</div>